<mat-card class="search-card">
    <mat-card-header>
        <mat-card-title>{{ paper.title }}</mat-card-title>
    </mat-card-header>
    <mat-card-content flex>
        <table>
            <tr>
                <td>
                    <b>Authors:</b> <span *ngFor="let author of paper.authors"> {{ author }} </span>
                </td>
            </tr>
            <tr>
                <td>
                    <b>Keywords:</b> <span *ngFor="let keyword of paper.keywords"> {{ keyword }} </span>
                </td>
            </tr>
            <tr>
                <td>
                    <b>Recieved:</b> {{ paper.recievedDate }}
                </td>
            </tr>
            <tr>
                <td>
                    <b>Published:</b> {{ paper.acceptedDate }}
                </td>
            </tr>
            <tr>
                    <td>
                        <b>Status:</b> {{ paper.paperStatus }}
                    </td>
                </tr>
        </table>
        <div id="btns-div" align="right">
                <button *ngIf="paper.paperStatus === 'REVISION'" mat-raised-button color="primary" class="view-paper-btn"
                (click)="addRevision(paper.title, paper.processId )" >Add revision</button>
            <button *ngIf="paper.paperStatus === 'PENDING' || paper.paperStatus === 'REVISION' || paper.paperStatus === 'REVIEWING'" mat-raised-button color="primary" class="view-paper-btn"
            (click)="confirmWithdraw(paper.title, paper.id )" > Withdraw </button>
            <button mat-raised-button color="primary" class="view-paper-btn"> View </button>
        </div>
    </mat-card-content>
</mat-card>