<app-header (sendSearchData)="sendSearchData($event)"></app-header>
<img src="../../assets/images/header.jpg" width="100%" height="22%">

<mat-card id='sp-editor'>
        <h2>Scientific paper editor</h2>
        <div id="xonomy-editor"></div>
        <br/>
        <button mat-raised-button color="primary" (click)="loadSpTemplate()">Load template</button>
        <button mat-raised-button color="primary" (click)="addPaperXonomy()">Submit paper</button>
        <button mat-raised-button color="primary" (click)="openClEditor()">Add cover letter</button>
</mat-card>
